/* CSS for about-me.css page */
body {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
}

#inner_lists a p#high_light_tab {
    border-color: #563f46;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    color: #563f46;
}

#inner_lists a p#high_light_tab:hover {
    border-color: #bbab9b;
    color: #bbab9b;
    border-radius: 25px;
    transition-duration: 0.3s;
}

section#main_section{
    min-height: 750px;
    background-color: #ffffff;
}

div#menu_title_div {
    margin: 0;
}

article#introduction {
    margin-top: 2em;
    padding: 2em;
}

article#introduction p {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    margin: 0;
}
