/* Shared CSS for all pages with nav tag in it */


header {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    align-items: center;
    background-color: #571616;
    padding: 0;
    margin: 0;
    transition-duration: 0s;
}

div#top_bar {
    display: block;
    width: 100%;
}

label#dark_mode_label {
    float: right;
    position: absolute;
    top: 4px;
    right: 2em;
    z-index: 3;
}

label#checkbox_label {
    display: none;
    z-index: 3;
}

input#hamburger_icon {
    margin-top: 0.5em;
    margin-left: 1em;
    width: 30px;
    height: 30px;
}

ul#menu_nav {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

ul#burger_menu {
    display: none;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
}

#stripe_box:hover {
    background-color: #411515;
    transition-duration: 0.3s;
}

div.header_div h1 {
    /* Fallback: Set a background color. */
    background-color: #383838;

    /* Create the gradient. */
    background-image: linear-gradient(
            45deg,
            #e3e3e3 50%,
            #fda4a4 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 100%;
    z-index: 1;
}

h2#menu_title {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    font-weight: bold;
    font-size: 24px;
    color: #b9936c;
    margin: 0;
    padding-left: 1.5em;
    padding-top: 1em;
    background-color: #4d4d4d;
}

h2#menu_title::after {
    content: "";
    display: inline-block;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    width: 55%;
    border-bottom: 2px solid #b9936c;
    margin-bottom: 1em;
}

/* Blurs in and out */
@keyframes opacity_effect {
    10% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }

nav#nav_bar {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
}

div.header_div {
    display: block;
    position: relative;
    width: 100%;
}

div.header_div a {
    text-decoration:none;
}

h1#main_title {
    display: block;
    position: relative;
    font-size: 50px;
    font-family: Georgia, serif;
    font-weight: bold;
    align-items: flex-start;
    animation: 1s ease-out 0s 1 opacity_effect;
    line-height: 1.2;
    text-align: center;
    margin: 1em auto 0.3em auto;
}

h2#sub_title {
    display: block;
    position: relative;
    font-size: 35px;
    font-family: Georgia, serif;
    font-weight: 500;
    line-height: 1.2;
    align-items: flex-start;
    animation: 1s ease-out 0s 1 opacity_effect;
    text-align: center;
    color: #605a14;
    margin: 0 auto 1em auto;
}

li.outer_list {
    width: 100%;
}

li#title_list,
li#title_list a {
    display: block;
    width: 100%;
    transition-duration: 0s;
}

ul.inner_lists {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 0;
    transition-duration: 0s;
}

li.nav_li_item {
    display: flex;
    position: relative;
    padding: 0 0 0 1em;
}

li.nav_li_item a {
    display: flex;
    position: relative;
    text-decoration: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Georgia, serif;
    animation: 1s ease-out 0s 1 opacity_effect;
}

ul.inner_lists a p {
    margin: 0;
    border: 3px solid #7e4a35;
    border-radius: 5px;
    color: #a2836e;
    transition-duration: 0.5s;
    padding: 1em 2em 1em 2em;
}

ul.inner_lists a p:hover {
    border-color: #6b6b6b;
    border-style: dotted;
    color: #585757;
    border-radius: 25px;
    transition-duration: 0.5s;
}

/* Highlights the menu tab background */
p#highlight {
    color: #ffffff;
    background-color:#a2836e
}

/* Apply screen size lower than 768 */
@media only screen and (max-width: 768px) {
    label#checkbox_label {
        display: block;
    }

    input#hamburger_icon {
        display: inline-block;
    }

    input#hamburger_icon:checked ~ header ul#menu_nav {
        display: none;
    }

    ul.outer_lists {
        display: flex;
        width: 100%;
        margin: 0 0 1em 0;
        padding: 0;
    }

    li.outer_list {
        width: 100%;
    }

    ul.inner_lists {
        display: inline;
        position: relative;
        width: 100%;
    }

    li.nav_li_item, li.nav_li_item > a {
        display: block;
        position: relative;
        text-decoration: none;
        font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
        animation: 1s ease-out 0s 1 opacity_effect;
        padding: 0 1em 0 1em;
    }

}

