/* CSS for skills.html page */

body {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
}

section#main_section{
    min-height: 750px;
    background-color: #ffffff;
}

#inner_lists a p#high_light_tab {
    border-color: #563f46;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    color: #563f46;
}

#inner_lists a p#high_light_tab:hover {
    border-color: #bbab9b;
    color: #bbab9b;
    border-radius: 25px;
    transition-duration: 0.3s;
}

h2#menu_title {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    color: #b9936c;
    margin: 0;
    padding-top: 1em;
    padding-left: 1.5em;
    background-color: #c0ded7;
}

h2#menu_title::after {
    content: "";
    display: inline-block;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    width: 55%;
    border-bottom: 2px solid #b9936c;
    margin-bottom: 1em;
}

#skill_box {
    display: block;
    position: relative;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    padding-left: 2em;
    padding-right: 2em;
}

li.skill_item {
    list-style: none;
    margin: 1em 0 0 1em;
    padding: 0 0 0 1em;
    width: 93%;
    border: 3px solid #6b6b6b;
    border-radius: 10px;
}

h3.title {
    font-family: "Book Antiqua", Roboto, Helvetica, Arial, serif;
}

div.card {
    display: flex;
    flex-flow: row;
    position: relative;
    border: none;
}

div.card img {
    width: 230px;
    height: 230px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

div.skill_description {
    width: 100%;
}

li.inner_list > img {
    width: 70px;
    height: 70px;
}

div.experience_bar {
    width: 250px;
    margin-bottom: 1em;
}

div.progress > div.full {
    background-color: #4cc44c;
}

div.progress > div.middle {
    background-color: #e87f42;
}

@media only screen and (max-width: 768px) {

    li.skill_item {
        padding: 1em 0.5em 1em 0.5em;
    }

    h3.title {
        text-align: center;
    }

    div.card {
        flex-flow: column;
        margin: 0 0 1em 0;
    }

    div.experience_bar {
        width: 90%;
        margin-left: 5%;
    }

    div.card > img {
        align-self: center;
    }

}