<footer class="main_footer">
    <div class="footer-row">
        <ul class="footer_list">

        </ul>
    </div>
    <div class="footer-row" id="footer-social-media">
        <ul class="footer_list">
            <li class="footer_li_item">
                <a href="https://linkedin.com">
                    <p>LinkedIn</p>
                </a>
            </li>
            <li class="footer_li_item">
                <a href="https://google.com">
                    <p>Google Scholar</p>
                </a>
            </li>
            <li class="footer_li_item">
                <a href="">
                    <p>ResearchGate</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-row" id="footer-copyright">
        <p>&copy;&nbsp;&nbsp;2024&nbsp;-&nbsp;Tony Baek</p>
    </div>
</footer>