/* CSS for index.html page */

body {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

div#background {
    display: flex;
    position: fixed;
    width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(180,960,455)'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23EA9085'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    z-index: -1;
}

section#main_section{
    display: block;
    position: relative;
    margin: 2em 0 130rem 0;
    align-content: center;
}

h1#main_intro {
    display: flex;
    margin: 5em 0 0 0;
    cursor: default;
    font-size: 50px;
    color: #e5eaf5;
    text-shadow: 2px 2px 2px #1f1f1f;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

span {
    color: #a0d2eb;
}

span#main_name {
    color:  #d0bdf4;
    display: inline-flex;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

span#main_name:after {
    content:"";
    display: inline-flex;
    position: relative;
    border: 2px solid #a0d2eb;
    border-radius: 5px;
    transition-duration: 1s;
    height: 10px;
    rotate: -90deg;
    padding: 0;
    margin: 0;
    top: 1em;
    left: -4.2em;
    transition-delay: 3s;
}

/*add hover*/
span#main_name:hover:after {
    rotate: 0deg;
    display: inline-flex;
    position: relative;
    left: 0.5em;
    top: 1em;
    height: 500px;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

span#main_name:hover #hidden-field {
    transition: 2s ease-in-out;
    transition-duration: 1s;
    opacity: 1;
}

ul#hidden-field {
    display: block;
    position: absolute;
    left: 2em;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 3s;
    margin: 2em 0 0 0;
    padding: 1em 0.3em 1em 1em;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 5px;
}

ul#hidden-field>li {
    color: #444444;
    font-size: 20px;
    font-weight: normal;
    text-shadow: #1f1f1f 2px 2px 15px;
    max-width: 55vw;
    list-style: none;
}

ul#hidden-field>li>span {
    color: #5c2121;
}

span#main_description {
    display: flex;
    position: relative;
    margin: 0.8em 0 0 25em;
    padding: 0 1em 0 1em;
    font-size: 30px;
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
    color: #baa5e7;
    width: fit-content;
    height: min-content;
    background: rgba(140, 140, 140, 0.4);
    border-radius: 9px;
    text-shadow: #4d4d4d 1px 1px 15px;
}

div#top-layer {
    display: block;
    position: relative;
    width: 100%;
    margin: 3em 0 3em 0;
}

div#middle-layer {
    display: block;
    position: relative;
    width: 100%;
    margin: 30rem 0 3em 0;
}

div#middle-layer > div#website-tool-section {
    text-align: center;
}

div#middle-layer > div#website-tool-section h2 {
    font-family: Monospace, serif;
    font-weight: 700;
    color: #6c5b7c;
    text-shadow: #595959 1px 1px 8px;
}

.centered-text {
    text-align: center;
    margin: 40em 0 3em 0;
}


div#intro-box {
    display: block;
    position: relative;
    width: 100%;
    margin: 6em auto 2em auto;
    text-align: center;
}

div#inner-intro-box {
    color: #ffffff;
}

div#inner-intro-box>h2 {
    font-size: 16px;
    text-shadow: #000000 2px 2px 10px;
}

div#intro-text-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

span.intro-span-text-type-one {
    font-size: 64px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: #4d4d4d 1px 1px 3px;
}

span.intro-span-text-type-two {
    font-size: 64px;
    font-weight: 800;
    color: #423031;
    text-shadow: #d5d5d5 1px 1px 3px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width: 100%;
    opacity: 0;
}

.typewriter.active {
    opacity: 1;
    animation: typing 1.0s steps(250, end);
}

#mid-title.typewriter.active {
    opacity: 1;
    animation: typing 3.5s steps(80, end);
}

#second-intro-text-section.typewriter.active {
    opacity: 1;
    animation: typing 3.5s steps(80, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


/*********************************************
 * gridbox tool cards
 */

div#tool-cards {
    display: flex;
    margin: 5em auto 3em auto;
    width: fit-content;
}
gridbox.utilized-tool {
    display: block;
    margin: 0 2em 0 2em;
    max-height: 150px;
    max-width: 250px;
    min-width: 170px;
    min-height: 230px;
    border: solid 2px #727272;
    border-radius: 5px;
}

div#tool-cards a {
    text-decoration: none;
}

gridbox.utilized-tool h4 {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    font-weight: 800;
    margin-bottom: 1em;
    color: #ea9085;
    text-shadow: 2px 2px 12px #a3a3a3;
}

gridbox.utilized-tool img {
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
}



/* Github hover button */
#feature-work-btn {
    display: flex;
    align-items: center;
    background-color: #ea9085;
    border: 2px solid #6c5b7c;
    border-radius: 8px;
    box-sizing: border-box;
    color: #6c5b7c;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 16px;
    width: 12em;
    height: 44px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5em auto 0 auto;
}

#feature-work-btn:after {
    background-color: #c06c84;
    border-radius: 8px;
    content: "";
    display: block;
    height: 44px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

#feature-work-btn:hover:after {
    transform: translate(0, 0);
}

#feature-work-btn:active {
    background-color: #ffdeda;
    outline: 0;
}

#feature-work-btn:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #feature-work-btn {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 768px) {
    span#main_name:after {

    }

    span#main_description {
        margin: 0;
        padding: 0;
    }
}
