/* CSS for projects.html page */
body {
    display: none;
    position: relative;
    height: 10vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #ddbfa1;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;
    font-family: Jost, serif;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    position: relative;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem 1rem 20px 1rem;
    border-radius: 6px;
}

.timeline-content div.inner-reference {
    display: flex;
}

.timeline-content div.inner-reference h3 {
    margin: 0 1em 0 0;
    color: #cb74dc;
    width: 75%;
}

.timeline-content div.inner-reference a {
    float: right;
    margin: auto 1em auto 0;
    text-decoration: none;
    background-color: #c1ac98;
    width: 25%;
    text-align: center;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.timeline-content div.inner-reference a:hover {
    color: #000000;
    background-color: #f1e0ce;
}

a.website-btn  {
    color: #000000 !important;
    background-color: #b89ff6 !important;
    box-shadow: 0 0 9px #FFFFFF;
}

a.website-btn:hover  {
    color: #727272 !important;
    background-color: #cab9f6 !important;
}

a.website-btn:hover {
    color: #000000;
    background-color: #f1e0ce;
}

.timeline-component {
    margin: 0 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #ea9085, #c06c84, #6c5b7c);
        width: 3px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #6c5b7c, #6c5b7c);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

div.tech-stack-div {
    display: flex;
    max-height: 35px;
    flex-flow: row;
    width: 100%;
    margin-bottom: 0.5em;
}

div.tech-stack-div img {
    display: block;
    position: relative;
    background-color: #FFFFFF;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0 0 7px white;
    margin: 0 0.4em;
    padding: 0;
    transition-duration: 0.2s;
}

div.tech-stack-div img:hover {
    transform: scale(1.6);
}

span.bold {
    font-weight: bold;
}

.unavailable-link {
    color: #ba1616;
    text-decoration: line-through;
    pointer-events: none;
}

div.company-logo {
    display: flex;
    position: absolute;
    margin: 1em 1em 0 0 ;
    top: 0;
    right: 0;
}

div.company-logo h3 {
    display: flex;
    font-size: 10px;
    margin: 0;
    color: #808080;
}

div.company-logo img {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    border: solid 2px #0c0d0d;
    transition: transform 0.25s ease;
}

div.company-logo img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {


}