/* CSS for resume.html page */

body {
    width: 100%;
    background-color: #726868;
    margin: 0;
}

#inner_lists a p#high_light_tab {
    border-color: #563f46;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    color: #563f46;
}

#inner_lists a p#high_light_tab:hover {
    border-color: #bbab9b;
    color: #bbab9b;
    transition-duration: 0.3s;
    border-radius: 25px;
}

#content_div {
    display: block;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    height: 1150px;
}

div#content_div p {
    text-align: center;
}

embed#resume_pdf {
    display: inherit;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    iframe#resume_pdf {
        margin-left: 0;
        width: 100%;
        height: 110vw;
    }
}