/* CSS for skills.html page */
body {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
}

section#main_section{
    display: inline-block;
    position: absolute;
    min-width: 15%;
    max-width: 15%;
    height: 100%;
}

section#grid-box-panel {
    display: grid;
    position: relative;
    grid-auto-rows: 1fr;
    grid-template-columns: 15fr 70fr 15fr;
    width: 100%;
}

div#left-background {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-image: url("../img/skillpage-left-background.jpg");
}


div#right-background{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-image: url("../img/skillpage-left-background.jpg");
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


div#grid-box-wrapper {
    display: block;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    background: -webkit-linear-gradient(to right, #a8968e, #a38f85);
    background: linear-gradient(to right, #a8968e, #a38f85);
    padding-bottom: 2em;
}

section.grid-box-row {
    display: block;
    position: relative;
    left: 5%;
    width: 50%;
    right: 95%;
}

section#first-box-row {
    display: block;
    position: relative;
    min-height: 45em;
    max-height: 45em;
}
section#second-box-row {
    display: block;
    position: relative;
    min-height: 45em;
    max-height: 45em;
}

section#third-box-row {
    display: block;
    position: relative;
    min-height: 45em;
    max-height: 45em;
    margin-bottom: 10em;
}


gridbox.grid-box {
    display: inline-flex;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 17px;
    border-color: #ea9085;
    border-right-color: #6e5773;
    border-top-color: #6e5773;
    border-left-color: #4f323b;
    border-bottom-color: #4f323b;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 280px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 2s;
}

gridbox.grid-box > img {
    display: inline-block;
    width: 160px;
    height: 150px;
    margin: auto;
}

gridbox.grid-box > figcaption {
    display: block;
    position: absolute;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    color: #ffffff;
    padding: 37% 0 30% 0;
    text-align: center;
    background: var(--c,#0009);
    width: 100%;
    height: 100%;
    clip-path: inset(0 var(--_i,100%) 0 0);
    mask:
            linear-gradient(#000 0 0),
            linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding;
    margin: -1px;
}

gridbox:hover figcaption{
    --_i: 0%;
}

gridbox:hover img {
    width: 260px;
    height: 220px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(118%) hue-rotate(138deg) brightness(93%) contrast(82%);
    -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(118%) hue-rotate(138deg) brightness(93%) contrast(82%);
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
}

gridbox:hover {
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    min-width: 420px;
    min-height: 400px;
    z-index: 1;
}

gridbox>div.skill-detail-panel {
    display: block;
    opacity: 0;
    position: fixed;
    background-color: rgba(79, 50, 59, 0.76);
    color: floralwhite;
    border-color: #EA9085FF;
    border-style: solid;
    transition-duration: 0.5s;
    border-radius: 11px;
    pointer-events: none;
    right: 5%;
    width: 38vw;
    min-height: 80%;
    z-index: 1;
}

div.skill-detail-inner-panel {
    margin: 1em;
}

div.skill-detail-inner-panel>h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

div.skill-detail-inner-panel>ul {
}

div.skill-detail-inner-panel>ul>li {
    margin: 0;
    padding: 0;
}

div.skill-detail-inner-panel>ul>li>p {
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: wheat;
    padding: 0 0 7px 0;
}

div.skill-detail-inner-panel>ul>li>p>span {
    font-size: 15px;
    font-weight: normal;
    color: white;
    padding: 0 0 15px 0;
}

div.skill-detail-inner-panel>ul>li>p>span>span.bold-span {
    font-size: 18px;
    font-weight: bolder;
    color: #d0bdf4;
}

gridbox:hover div.skill-detail-panel {
    display: flow-root;
    position: fixed;
    position: -ms-device-fixed;
    opacity: 1;
}

figure:hover img {
    transform: scale(1.2);
    transition-duration: 2s;
}

gridbox.first-box-item {
    top: 1em;
    left: 1em;
}

gridbox.second-box-item {
    top: 15em;
    left: 15em;
}

gridbox.third-box-item {
    top: 30em;
    left: 30em;
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #fff;
    }
}

@media only screen and (min-width: 1650px) and (max-width: 2050px) {

    gridbox > div.skill-detail-panel-left {
        left: 15%;
        width: 35vw;
        height: 55vh;
    }
}


@media only screen and (max-width: 1650px) {

    gridbox > div.skill-detail-panel-left {
        left: 5%;
        width: 55vw;
        min-height: 80%;
    }

    div#grid-box-wrapper {
        width: 70%;
        min-height: 80%;
        margin: auto;
    }
}