div#top_bar {
    display: block;
    width: 100%;
}

label#dark_mode_label {
    float: right;
    position: absolute;
    top: 4px;
    right: 2em;
    z-index: 3;
}

label#checkbox_label {
    display: none;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    input#hamburger_icon {
        display: inline-block;
    }

    input#hamburger_icon:checked ~ header ul#menu_nav {
        display: none;
    }

    label#checkbox_label {
        display: block;
    }
}